
<div class="container">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Facebook Auto Post
			<small>All Groups, All Friends, Custom ID, or All My Administrated Groups</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Auto post</li>
		</ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<!-- Form -->
				<div class="box box-primary">
					<!-- <div class="box-header with-border">
						<h3 class="box-title">Horizontal Form</h3>
					</div> -->
					<!-- /.box-header -->
					<!-- form start -->
					<form class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="access_token" class="col-sm-2 control-label">Access token</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="access_token" placeholder="EAAAAAIZAgwGsBABr2zsHZBlkHSouWkZC4FSn4zOHPs3VRb01IrxM1Uv3GZB6pfPJeqzLp5J27ojdSWf88vZCVzTkhfh1Kl3JNsa5r7kt8Exx18FCp3U4WWXbPB7hSAQZAa47lGuaIS7nlZB2qQaxxx">
								</div>
							</div>
							<!-- select -->
							<div class="form-group">
								<label class="col-sm-2 control-label">Post to</label>
								<div class="col-sm-10">
									<select disabled id="post_mode" class="form-control" onchange="postMode(this)">
										<option value="post_group">All Groups</option>
										<option value="post_friend">All Friends</option>
										<option selected value="post_custom">Custom ID</option>
										<option value="post_admgroup">All My Administrated Groups</option>
									</select>
								</div>
							</div>
							<div class="form-group post_to">
								<label for="access_token" class="col-sm-2 control-label">Facebook ID</label>
								<div class="col-sm-10">
									<input disabled id="post_custom" type="text" class="form-control" id="post_uid" placeholder="100006493641929,100006493641930,100006493641931,dst..">
								</div>
							</div>
							<!-- Select multiple-->
							<div class="form-group hidden post_to">
								<label class="col-sm-2 control-label ">Select Groups</label>
								<div class="col-sm-10">
									<select disabled id="post_group" multiple class="form-control"></select>
								</div>
							</div>
							<div class="form-group hidden post_to">
								<label class="col-sm-2 control-label ">Select Friends</label>
								<div class="col-sm-10">
									<select disabled id="post_friend" multiple class="form-control"></select>
								</div>
							</div>
							<div class="form-group hidden post_to">
								<label class="col-sm-2 control-label ">Select Groups</label>
								<div class="col-sm-10">
									<select disabled id="post_admgroup" multiple class="form-control"></select>
								</div>
							</div>
							<!-- textarea -->
							<div class="form-group">
								<label class="col-sm-2 control-label">Message</label>
								<div class="col-sm-10">
									<textarea disabled id="message" class="form-control" rows="3" placeholder="Your Message.."></textarea>
								</div>
							</div>
							<!-- select -->
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<select disabled id="attachment" class="form-control">
										<option value="no">No Attachment</option>
										<option value="standard">Standard Attachment</option>
										<!-- <option value="picture">Picture</option> -->
									</select>
								</div>
							</div>
							<div id="picture_attachment" class="form-group hidden post-attachment">
								<label class="col-sm-2 control-label "></label>
								<div class="col-sm-10">
									<input disabled id="pict_attachment_url" type="text" class="form-control" placeholder="Picture URL">
								</div>
							</div>
							<div id="standard_attachment" class="form-group hidden post-attachment">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-3">
											<img style="width: 128px; height: 128px;" id="attachment_pict" class="img-responsive img-bordered-sm" src="img/user8-128x128.jpg" alt="Picture">
										</div>
										<div class="col-sm-9" style="margin-bottom: 10px; padding-left: 0;">
											<div><input disabled id="attachment_name" type="text" class="input-sm form-control"  placeholder="Attachment Name"></div>
											<div><input disabled id="attachment_caption" type="text" class="input-sm form-control"  placeholder="Attachment Caption"></div>
											<div><textarea disabled id="attachment_description" class="input-sm form-control" rows="3" placeholder="Attachment Description"></textarea></div>
										</div>
									</div>
									<input disabled id="attachment_link" type="text" class="input-sm form-control" placeholder="Attachment Link">
									<input disabled id="attachment_pictlink" type="text" class="input-sm form-control" placeholder="Picture URL (*mohon ma'af fitur ini tidak dapat digunakan)">
								</div>
							</div>
							<div class="form-group">
								<label for="access_token" class="col-sm-2 control-label">Delay</label>
								<div class="col-sm-2" style="padding-right: 5px;">
									<input disabled id="delay" type="number" class="form-control" placeholder="15" value="5" min="0">
								</div>
								<label style="text-align: left; padding-left: 0; font-weight: normal;" for="access_token" class="col-sm-2 control-label">second</label>
							</div>

							<div class="progress hidden">
								<div id="progress" class="progress-bar" role="progressbar" style="min-width: 2em; width: 0%;"></div>
							</div>
						</div>
						<div id="overlay" class="overlay hidden">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button id="submit" type="submit" class="btn btn-primary pull-right" data-loading-text="Processing..." >Submit</button>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>
				<!-- /.box -->

				
				<div id="box_result" class="box">
					<div class="box-header">
						<h3 class="box-title">Result Data</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="table_result" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>ID</th>
									<th>Status</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
							<tfoot>
							</tfoot>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<div class="col-md-4">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Comments</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<!-- <div class="box-body">
						<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="100%" data-order-by="reverse_time"></div>
					</div> -->
				</div>
			</div>
		</section>
	</div>

	<script type="text/javascript">
	// $('.form-control').removeAttr('disabled');
	var result = $('#table_result').DataTable({
		"paging": true,
			// "lengthChange": false,
			// "searching": false,
			// "ordering": false,
			"info": true,
			"autoWidth": false
		});

	$('#access_token').keyup(function() {
		var token = $(this).val();

		$.ajax({
			cache: true,
			url: 'https://graph.facebook.com/me?fields=id',
			data: {
				access_token: token
			},
			dataType: 'json',
			success: function(data) {

					// get all groups & all administrated groups
					getGroups(token);

					// get all friends
					getFriends(token);

					//enable form
					$('#access_token').parent().parent().removeClass('has-error');
					$('#access_token').siblings().remove();
					$('.form-control,#submit').removeAttr('disabled');
				},
				error: function(data) {

					//show error
					$('#access_token').parent().parent().addClass('has-error');
					$('#access_token').siblings().remove();
					$('#access_token').parent().append('<span class="help-block">' + data.responseJSON.error.message + '</span>');

					//disable form
					$('.form-control').not('#access_token').attr('disabled', 'disabled');
					$('#submit').attr('disabled', 'disabled');
				}
			});
	});

$('#attachment').change(function() {
	$('.post-attachment').addClass('hidden');

	var attachment_type = $(this).val();
	if (attachment_type == "standard") $('#standard_attachment').removeClass('hidden');
	else if (attachment_type == "picture") $('#picture_attachment').removeClass('hidden');
});

$('#attachment_pictlink').keyup(function() {
	$('#attachment_pict').attr('src', $(this).val());
});

function postMode(that) {
	var id = $(that).val();

	$('.post_to').addClass('hidden');
	$('#' + id).parent().parent().removeClass('hidden');
}

function getGroups(token) {
	$.ajax({
		url: 'https://graph.facebook.com/me/groups',
		data: {
			access_token: token,
			fields: 'id,name,administrator',
			limit: 5000
		},
		dataType: 'json',
		success: function(data) {
			$('#post_group,#post_admgroup').html('');

			for (var i in data.data) {
				var addOption = '<option value="' + data.data[i]['id'] + '">' + data.data[i]['name'] + '</option>';

				$('#post_group').append(addOption);
				if (data.data[i]['administrator']) $('#post_admgroup').append(addOption);
			}

			$('#post_group option,#post_admgroup option').prop('selected', true);
		}
	});
}

function getFriends(token) {			
	$.ajax({
		url: 'https://graph.facebook.com/me/friends',
		data: {
			access_token: token,
			fields: 'id,name',
			limit: 5000
		},
		dataType: 'json',
		success: function(data) {
			$('#post_friend').html('');

			for (var i in data.data) {
				var addOption = '<option value="' + data.data[i]['id'] + '">' + data.data[i]['name'] + '</option>';

				$('#post_friend').append(addOption);
			}

			$('#post_friend option').prop('selected', true);
		}
	});
}



$('#submit').click(function(e) {
	e.preventDefault();
	$(this).button('loading');
	$('.overlay,.progress').removeClass('hidden');

	//remove tables result row
	result.rows().remove().draw();

	var access_token = $('#access_token').val();
	var post_mode = $('#post_mode').val();
	if (post_mode == "post_group") {
		var uid = $('#post_group').val();
	} else if (post_mode == "post_friend") {
		var uid = $('#post_friend').val();
	} else if (post_mode == "post_admgroup") {
		var uid = $('#post_admgroup').val();
	} else if (post_mode == "post_custom") {
		var uid = $('#post_custom').val().replace(new RegExp('[a-zA-Z]| {1}', "g"), '').split(',');
	}
	var message = $('#message').val();
	var delay = $('#delay').val();
	var data = {
		access_token: access_token,
		message: message,
	}

	var attachment_mode = $('#attachment').val();
	if (attachment_mode == "no") {
		var url = ""
	} else if (attachment_mode == 'standard') {
		data.name = $('#attachment_name').val();
		data.caption = $('#attachment_caption').val();
		data.description = $('#attachment_description').val();
		data.link = $('#attachment_link').val();
		data.picture = $('#attachment_pictlink').val();
	}

	//progress bar
	var progress_text = '0 / ' + uid.length;
	$('#progress').text(progress_text);

	sendPost(url, uid, uid.length, data, delay, 1);
});

function sendPost(url, uid, uidLength, data, delay, count) {
	if (uid.length < 1) {
		$('#submit').button('reset');
		$('.overlay').addClass('hidden');
		return;
	}

	var _uid = uid.shift();
	var _url = 'https://graph.facebook.com/' + _uid + '/feed?';
	$.ajax({
		url: _url,
		method: 'post',
		dataType: 'json',
		data: data,
		complete: function(response) {
			//progress bar
			var _uid_now = uidLength - uid.length;
			var progress_text = _uid_now + ' / ' + uidLength;
			$('#progress').text(progress_text);

			var progress_procentage = _uid_now / uidLength * 100;
			var progress_width = progress_procentage + '%';
			$('#progress').css('width', progress_width);

			if (response.status == 0) {
				setTimeout(function() { sendPost(url, [], uidLength, data, delay, ++count) }, 0);
				alert('No internet connection..!');
			} else if (response.status == 200) {
				result.row.add([count, _uid, 'success', response.responseJSON.id]).draw(false);
			} else {
				result.row.add([count, _uid, 'failed', response.responseJSON.error.message]).draw(false);
			}

					// console.log(url, uid, data, delay)
					setTimeout(function() { sendPost(url, uid, uidLength, data, delay, ++count) }, delay*1000);
				}
			});
}
</script>